{% extends "layout.html" %} 

{% block title %} 
  About 
{% endblock %} 

{% block main %}
    <div id="aboutBody">
      <div class="container">
        <h1 id="aboutH1">Features</h1>
        <p>
          Our web app leverages advanced technologies to detect and manage skin cancer, offering the following features:
        </p>
        <ol>
          <li>User image uploads or webcam captures analyzed by a TensorFlow model to predict malignancy or benign status with a confidence score</li>
          <li>SQL database storage for reviewed images</li>
          <li>A “Help” section using the Google Maps API to locate nearby hospitals</li>
          <li>A Cohere-powered chatbot that answers skin disease questions</li>
          <li>Secure authentication via Google OAuth, ensuring a smooth user experience</li>
        </ol>
      </div>
    </div>
{% endblock %}