{% extends "layout.html" %}

{% block title %}
   About
{% endblock %}

{% block main %}
    <h1>About</h1>
    <br>
    <div class="mx-auto" style="border:1px solid black; width: 83em; max-width: 83em;background: white;">
        <h3 style="padding-top: 10px;">Solution</h3>
        <p class="text-line" style="padding-left: 20px; padding-right: 20px;">Add Info...</p>    
    </div>
    <br>
    <div class="horizontal-stack-inner-about mx-auto" style="background: white;width:78.8%;">
        <img src="/static/images/background.jpg" alt="sample user" width="600px" height="600px">
        <div style="padding-left: 50px;">
            <h3 style="margin-bottom: 30px;">Problem Statement</h3>
            <p class="text-block">Add Info...</p>    
        </div>
    </div>
{% endblock %}