{% extends "layout.html" %}

{% block title %}
   Chatbot - Skin Cancer Help
{% endblock %}

{% block main %}
    <h1>Chatbot Help</h1>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <!-- Chat history populated here -->
        </div>

        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message..." autofocus>
            <button id="send-btn" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="../static/js/chatbot.js" ></script>
{% endblock %}
