{% extends "layout.html" %}

{% block title %}
    View Images
{% endblock %}

{% block main %}
    <h1>Past Images</h1>
    <div class="image-gallery">
        {% for image in images %}
            <div class="image-item">
                <a href="{{ image['image_url'] }}">
                    <img class="image" src="{{ image['image_url'] }}" alt="Image {{ image['id'] }}" />
                    <label style="width:100%;background:white;color:black;">{{image['classification']}} - {{image['accuracy']}}%</label>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
