{% extends "layout.html" %}

{% block title %}
   Map
{% endblock %}

{% block main %}
    <h1 style="display: block;">Nearest Hospitals</h1>
    <div id="mapBody">
        <div class="input-container-map">
            <input id="address" type="text" placeholder="Enter an address" />
            <select id="travel-mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="TRANSIT">Transit</option>
            </select>
            <button class="btn-primary" onclick="setAddress()" style="border-radius:5px;width:3vw;">Go</button>
        </div>
        <div id="map" style="height:50vh!important;"></div>
        <div id="route-info"></div>
    </div>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBbBrew5YJ1i2wYE6piD5cbrtA_qj9NIs&libraries=places&callback=initMap"> </script>
    <script src="../static/js/map.js"></script>
{% endblock %}
